.manual-brand-name {
	font-family: 'Post Grotesk';
}

.manual-section-number {
	font-family: 'Post Grotesk';
}

.manual-section-name {
	font-family: 'Post Grotesk';
}

#menu h1 {
	font-family: 'Post Grotesk';
}

.section-hero-header-block > p,
.section-hero-header-block > h1,
.section-hero-header-block > h2,
.section-hero-header-block > h3 {
	margin: 0;
	line-height: 1;
}

.manual-paragraph {
	font-size: 20px;
}

/* INTRO SECTION */
.manual-section-header,
.manual-section-sub-header {
	font-size: 44px;
}

/* COLOR SECTION */
.section-color-item-name {
	font-family: 'Post Grotesk';
}